@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

::root{
    --maincolor:#64ffda;
    --textcolormain: #c6d1f1;
    --textcolorsec: #919cba;
    --Itembgcolor:#112240;
    --bgcolor: #0a192f;
    --bgcolorsec: #09182e;
    --bgboldcolorsec: #040c18;
}

body{
    background-color:#0a192f; 
}

a{
    text-decoration: none;
    color: var(--textcolormain);
    font-size: 1rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

.source-title{
    text-decoration: none;
    color: var(--textcolormain);
    font-size: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.source-link:hover{
    color: #64ffda;
}

.source{
    margin-bottom: 1rem;
}

.heading{
    font-family: 'Fira Mono', serif;
    font-weight: 400;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

h1{
    position: relative;
}

h1::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #64ffda;
    bottom: 0;
    left: 0;
    border-radius: 0.3rem;
}

.articles{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-self: center;
    width: 100%;
}

.article-item{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: #112240;
    border-radius: 0.3rem;
    transition: 200ms ease;
    box-shadow: 7px -7px 4px #09182e,
                -7px -7px 4px #09182e;
}

.article-item:hover{
    transform: translateY(-1rem);
}

.article-item > p{
    margin: 0.7rem 0;
}
.article-title{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #64ffda;
}

img{
    max-width: 100%;
    aspect-ratio: 16 / 9;
    align-self: center;
}

.article-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-link{
    padding: 0.5rem 1.2rem;
    color: var(--textcolormain);
    background-color: #040c18;
    margin-top: 1rem;
    justify-self: flex-end;
}

/* chrome + safari custom scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    cursor: pointer;
    height: 1em;
  }
  
  ::-webkit-scrollbar-track {
    background: #040c18;
    border-radius: 100vw;
    margin-block: 0.5em;
    border: 0.15em solid rgba(0, 0, 0, 0.9);
  }
  
  ::-webkit-scrollbar-thumb {
    background:#c6d1f1;
    backdrop-filter: blur(30px);
    cursor: pointer;
    border-radius: 100vw;
    border: 0.2em solid #64ffda;
  }
  
  /* firefox custom scrollbar */
  @supports (scrollbar-color: hsl(315, 77.8%, 85.9%) hsl(258, 42.9%, 68.4%)) {
    * {
      scrollbar-color: hsl(315, 77.8%, 85.9%) hsl(258, 42.9%, 68.4%);
      scrollbar-width: auto;
    }
  }
  