@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@200;300;400;500;600&display=swap');

@font-face {
    font-family: 'engrvrsoldeng_btregular';
    src: url('fonts/engravers_old_english_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::root{
    --maincolor:#64ffda;
    --textcolormain: #c6d1f1;
    --textcolorsec: #919cba;
    --Itembgcolor:#112240;
    --bgcolor: #0a192f;
    --bgcolorsec: #09182e;
    --bgboldcolorsec: #040c18;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #0a192f;
    color: #c6d1f1;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

section{
    position: fixed;
    height: 100%;
    width: 240px;
    left: 0;
    top: 0;
    background-color: #09182e;
    overflow-y: scroll;
}

main{
    position: absolute;
    display: grid;
    justify-content: center;
    margin: 0 0.5rem;
    height: 100%;
    width: calc(100vw - 270px);
    left: 240px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

header::before{
    position: absolute;
    content:'';
    width: 100%;
    height: 1px;
    background-color: #919cba;
    bottom: -12px;
}

.main-title{
    font-family: 'engrvrsoldeng_btregular';
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    position: relative;
    margin-bottom: 1.5rem;
}

nav::after,
nav::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c6d1f1;
    bottom: 0;
}

nav::before{
    bottom: 5px;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item{
    list-style:none;
}

.nav-link{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.nav-link:hover{
    color:#64ffda;
}

.source-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
}

.source-icon{
    font-size: 2rem;
}

.source-title{
    text-decoration: none;
    color: var(--textcolormain);
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.source-wrapper:hover{
    color:#64ffda
}
