{%extends 'base.html'%}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
{% endblock %}

{% block sources %}
    {% for source in sources%}
        <div class="source">
            <a class="source-link" href="/sources/{{source.news_id}}"> {{source.name}} </a>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
        <div class="error">
            <h2>404</h2>
            <p>Go Back</p>
            <p>Page Not Found</p>
        </div>  
{% endblock %}